# dependencies
node_modules/
.pnp
.pnp.js
.yarn/cache

# testing
coverage/

# next.js & build outputs
.next/
out/
dist/
build/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
.env*.local
.env.development
.env.production
.env.test
service-account*.json
firebase-admin*.json
*.key

# vercel
.vercel

# typescript
*.tsbuildinfo
